.container1 {
  width: 150px;
  height: 150px;
  /* background-color: black; */
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.dalam1 {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.2s ease;
  transition-delay: 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}
.container1:hover .dalam1 {
  background-color: aquamarine;
  transform: translate(-100px, 100px);
}

.container2 {
  width: 150px;
  height: 150px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s ease-in;
}

.container2:hover {
  background-color: greenyellow;
  transform: scale(1.3);
}
.container2:hover p{
    color: red;
}
.container3 {
  width: 150px;
  height: 150px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
}
.container3:hover {
  background-color: orange;
  transform: skew(45deg);
}
.container4 {
  width: 150px;
  height: 150px;
  /* background-color: purple; */
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.dalam4{
    width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.2s  ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
}
.container4:hover .dalam4 {
  background-color: pink;
  transform: rotate(45deg);
  transform-origin: bottom-right;
}
.tulisan4{
    transition: 0.2s ease-out;
}
.container4:hover .tulisan4{
   transform: rotate(-45deg) scale(2);
   color: red;
}

